# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints/
*.log

# Virtual env
venv/
env/
.venv/

# Model files (nặng!)
*.pkl
*.pt
*.bin
*.h5
model/
checkpoints/
runs/

# IDE/editor
.vscode/
.idea/
.DS_Store

# Environment variables
.env
